@import '_easyRadioCheck.scss';
$container-width: 600px;


$transition: 300ms;



$input-ff: inherit;
$input-color: #29292C;
$input-height: 55px;

$input-border: 1px solid #E9E9E9;;

$input-padding: 0 15px;
$input-fs: 1.125rem;
$input-br: 5px;

$input-border-color-on-focus: #333;


/***********form-btn-send*********************/

$btn-height: 56px;
$btn-width: 300px;
$btn-border: none;
$btn-fs: 1.125rem;
$btn-ff: inherit;
$btn-br: 5px;
$btn-bg: #2a699f;
$btn-color: #fff;
$btn-text-transform: uppercase;
/***********error-msg**************/

$err-msg-color: #a23d3d;
$err-fs: .75rem;
$err-ff: inherit;


$err-input-border-color: #a23d3d; 

.form-container{
    width: 100%;
    max-width: $container-width;
}

.easyGridForm{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
}

.btn-wrap{
    width: 100%;
    justify-content: center;
    display: flex;
}


.input-outer-wrap{
    width: 100%;
  }
.input-wrap{
    width: 100%;
}

.input-text{
    font-family: $input-ff;
    font-size: $input-fs;
    font-weight: 500;
    width: 100%;
    outline: none;
    height: $input-height;
    border: $input-border;
    padding: $input-padding;
    color: $input-color;
    border-radius: $input-br;
    transition: 100ms;
    background-color: transparent;
    text-align: center;

    &::placeholder{
        color: #6D6D71;;
        opacity: 1;
    }

    &:hover{
        border: 2px solid #6D6D71;
    }
    &:focus{
        border: 3px solid #159BBA;
    }

    @media (max-width: 768px){
        height: 52px;
        font-size: 1rem;
    }
}

.input-outer-wrap[data-err="1"]{
    .err-msg{
        transform: scaleX(1);    
        margin-bottom: 10px;
        
    }

    .input-text{
        border-color: #a23d3d;
    }
}

.input-outer-wrap.full-length, .cb-wrap.full-length, .btn-wrap.full-length{
    grid-column: 1 / 3;
}

.easyGridForm__line{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;

    .input-outer-wrap{
        width: auto;
    }

    @media (max-width: 768px){
        flex-direction: column;

        .name-input-wrap{
            justify-content: center;
        }
        .phone-input-wrap{
            display: flex;
            justify-content: center;
        }
    }
}


.cb-wrap.full-length{
    padding: 10px 0;
}


.err-msg{
    font-family: $err-ff;
    font-size: $err-fs;
    color: $err-msg-color;
    transition: $transition;
    transform: scaleX(0px);
    transform-origin: left;
    min-height: 15px;
    
}
  
.form-btn-send{
    font-family: $btn-ff;
    max-width: 100%;
    
    border: $btn-border;
    transition: $transition;
    font-size: $btn-fs;
    border-radius: $btn-br;
    background: $btn-bg;
    color: $btn-color;
    cursor: pointer;
    padding: 1rem 2rem;


    @media (max-width: 768px){
        font-size: 1rem;
    }

}

.form-btn-send:disabled{
    background: #555;
    cursor: default; 
}

.name-outer-wrap{
    margin-right: 16px;
    .err-msg{
        max-width: 160px;
        text-align: right;
    }

    @media (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        .err-msg{
            text-align: left;
        }
    }
}

.name-input-wrap{
    display: flex;
    justify-content: flex-end;
    .input-text{
        max-width: 160px;
    }

    
}
.phone-outer-wrap{
    .err-msg{
        max-width: 203px;
    }

    @media (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.phone-input-wrap{
    
    .input-text{
        max-width: 203px;
    }
}