.about-h{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px 40px ;

    @media (max-width: 768px){
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}
.about-h__title-block{
    
}
.about-h__img-block{
    grid-column: 2 / 3;
    grid-row: 1 / span 3;


    img{
        width: 100%;
        max-width: 530px;
    }

    @media (max-width: 768px){
        grid-column: unset;
        grid-row: unset;
    }
}

.about-h__text-block{
    .middle-text{
        line-height: 140%;
        margin-top: 20px;
    }

    @media (max-width: 768px){
        .middle-text{
            margin-top: 5px;
        }
    }
}
.team{

    margin: 55px 0 0;

    @media (max-width: 1024px){
        margin: 45px 0 0;
    }

}
.team-list{
    padding: 40px 0 0;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @media (max-width: 1024px){
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px){
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 0 0;

        grid-gap: 10px;
    }
}
.team-list__cell{
    padding: 16px 0 24px;


    border: 1px solid #F6F8F9;

    border-radius: 8px;

    .btn-green-border{
        margin-top: 16px;

        @media (max-width: 480px){
            margin-top: 10px;
        }
    }
    @media (max-width:480px){
        padding: 16px 16px 24px;
    }
}
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 480px){
        flex-direction: row;
        align-items: flex-start;
    }
}

.team-member__img-block{
    width: 100%;
    max-width: 194px;
    margin-right: 12px;

    @media (max-width: 480px){
        max-width: 96px;
    }
}

.team-member__img-block--inner{
    width: 100%;
    padding-bottom: 100%;    
    position: relative;
    img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.team-member__info{
    margin-top: 12px;
    .card-title{
        text-align: center;
        
    }
    

    @media (max-width: 480px){
        margin-top: 0;
        .card-title{
            text-align: left;
        }
    }
}

.team-member__phones-block{
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    a{
        
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 120%;

        /* or 22px */

        color: #000000;

        @media (max-width: 1024px){
            font-size: 1rem;
            
        }
    }
    @media (max-width: 1024px){
        margin: 20px 0;
    }
}


.team-member__text-line{
    text-align: center;
    font-size: .75rem;
    line-height: 120%;
    color: #515154;
    margin-top: 8px;
    span{
        font-weight: 500;
        font-size: .875rem;
    }
    @media (max-width: 480px){
        text-align: left;
    }
}

.a-docs{
    margin-top: 80px;
    @media (max-width: 1024px){
        margin-top: 40px;
    }
}

.docs-grid{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 20px;


    margin-top: 42px;

    @media (max-width: 768px){
        grid-template-columns: repeat(1, 1fr);

        margin-top: 20px;
    }
}

.docs-cell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .card-title{
        
    }
}

.doc-link{
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1.25rem;
    transition: 300ms;
    display: flex;
    align-items: center;

    margin-top: 20px;
    &:hover{
        border-color: #6D6D71;
    }

    img{
        margin-right: 16px;
    }

    span{        
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 125%;
        color: #159BBA;

        @media (max-width: 1024px){
            font-size: .875rem;
        }
    }
}