.section.realty-banner{

    
    margin-top: -40px;

    padding-top: 40px;
    
    position: relative;
    min-height: 300px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../img/realty/realty-banner.jpg');
        background-size: cover;
        background-position: center 66%;
        background-repeat: no-repeat;
        z-index: -1;
       
    }

    @media (max-width: 1024px){
        margin-top: 0px;
    }

    @media (max-width: 768px){
        min-height: 220px;

        &::before{
            max-height: 220px;
        }
    }
}

.realty-section{
    margin-top: -80px;

    @media (max-width: 768px){
        margin-top: 24px;
    }
}
.realty-list{
    display: grid;


    grid-template-columns: repeat(3, 1fr);

    grid-gap: 20px;

    margin-bottom: 64px;

    @media (max-width: 1200px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 560px){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
}

.realty-card{
    background: #FFFFFF;
    border: 1px solid #F6F8F9;
    box-sizing: border-box;
    border-radius: 8px;

    padding: 16px 16px 24px;

    transition: 300ms;

    &:hover{
        filter: drop-shadow(0px 10px 20px rgba(124, 140, 140, 0.05));
    }
}


.realty-card__img-box{
    width: 100%;
    padding-bottom: 66.66%;
    border-radius: 8px 8px 0 0 ;
    overflow: hidden;

    position: relative;

    img{
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        object-fit: cover;
        object-position: center;
    }
}

.realty-card__text-box{
    margin-top: 20px;
    address{
        
        font-style: normal;
        font-weight: 500;
        font-size: .875rem;
        line-height: 120%;
        color: #515154;

        @media (max-width: 1024px){
            font-size: .8125rem;
        }
    }

    @media (max-width: 680px){
        margin-top: 10px;
    }
}

.realty-card__bottom-cnt{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    @media (max-width: 680px){
        flex-direction: column;
    }
}
.realty-card__realty-square{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px 0 0 0;



    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: 120%;
    color: #515154;

    p{
        &:last-of-type{
            font-weight: 500;
            font-size: .875rem;
        }
    }
    
}
.realty-card__price{
    p{
        text-align: right;
    
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 120%;
        color: #515154;
    }

    @media (max-width: 680px){
        margin-top: 16px;
        p{
            text-align: left;
        }
    }
}

.realty-filter__tabs{
    
    border: 1px solid #E9E9E9;
    display: inline-flex;
    overflow: hidden;
    border-radius: 8px 8px 0 0;

    @media (max-width: 480px){
        display: flex;
    }
}

.realty-filter__tab{
    background: #FFFFFF;
    padding: 8px 24px;
 
    
    &:not(:first-of-type){
        border-left: 1px solid #E9E9E9;
    }

   


    font-size: 1rem;
    line-height: 125%;
    color: #29292C;
    cursor: pointer;
    transition: color 300ms;
    @media (max-width: 1024px){
        font-size: .875rem;
    }
    @media (max-width: 768px){
        padding: 8px 16px;
    }
    @media (max-width: 480px){
        flex-grow: 1;
        p{
            text-align: center;
        }
    }
    @media (max-width: 380px){
        padding: 8px 14px;
    }
    @media (max-width: 350px){
        padding: 8px 8px;
    }

    p{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: #0B7D98;
    
            transition: 300ms;
            transform: scaleX(0);
        }
    }


    

    &:hover{
        color: #0B7D98;
        p{
            &::before{
                transform: scaleX(1);
            }
        }

    }

    
}

.realty-filter__tab.active{
    background-color: #F6F8F9;

    border-left: none;
    font-weight: 600;
    color: #0B7D98;
    &:hover{
        color: #0B7D98;
        p{
            &::before{
                transform: scaleX(0);
            }
        }

    }

    & + div {
        border-left: none;
    }
}


.realty-filter__sheet{
    padding: 0px 24px 24px 0;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 8px;
    background-color: #fff;
    
    display: none;
    flex-wrap: wrap;


    @media (max-width: 480px){
        border-radius: 0px 0px 8px 8px;
        padding: 0px 16px 16px 0;
    }
    p{
        
        display: inline-block;
        font-size: .875rem;
        line-height: 120%;
        color: #515154;

        @media (max-width: 1024px){
            font-size: .8125rem;
        }
        
        position: relative;
        sup{
            position: absolute;
            top: -5px;
            right: -5px;
            display: inline-block;
            font-size: 10px;
        }
    }
}
.realty-filter__sheet.active{
    display: inline-flex;

    
}


.input-filter{
    width: 60px;
    height: 30px;
    border: 1px solid #E9E9E9;

    border-radius: 4px;

    &:first-of-type{
        margin-right: 8px;
    }
    padding: 0 8px;
    color: #29292C;
    font-style: normal;
    
    font-size: .75rem;
    line-height: 120%;
    font-weight: 500;
    transition: 100ms;
    

    &:hover{
        border-color: #6D6D71;
    }
    &:focus{
        border-color: #159BBA;
    }
    &::placeholder{
        opacity: 1;
        color: #6D6D71;
        font-weight: 300;
    }

}

.realty-filter__filter-block{
    div{
        margin-top: 8px;
    }

    margin-left: 24px;
    margin-top: 24px;


    @media (max-width: 480px){
        margin-left: 16px;
        margin-top: 16px;
    }


    button{
        height: 100%;
    }
}

.section.realty-page-s{
    position: relative;

    margin-top: -40px;

    padding-top: 40px;


    @media (max-width: 1024px){
        margin-top: 0px;
    }
    
    @media (max-width: 480px){
        flex-direction: column;
    }

    .section__inner{
        background-color: #fff;
        border-radius:  8px;
        padding: 24px;
        
        
        border: 1px solid #F6F8F9;
        box-sizing: border-box;
        border-radius: 8px;

        @media (max-width: 768px){
            padding: 16px 8px;
        }
    }
}

.realty-page-banner{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-image: url('../img/realty/10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    

    @media (max-width: 768px){
        height: 220px;
    }
}

.object-gallery{
    overflow: hidden;
}
.small-obj-gallery--wrap{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 24px;

    border-bottom: 1px solid #F6F8F9;

    @media (max-width: 768px){
        align-items: center;

        padding-bottom: 0px;
    }
}
.small-obj-gallery{
    overflow: hidden;
    max-width: 1020px;
}
.realty-info{
    display: flex;

    padding-top: 24px;
    align-items: flex-start;
    @media (max-width: 860px){
        flex-direction: column;
    }
}
.realty-info__text-block{
    flex-grow: 1;

    .breadcrumbs{
        margin: 8px 0 12px;
    }
}
.realty-title{
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 125%;
    color: #29292C;

    @media (max-width: 1024px){
        font-size: 1.5rem;
    }
}




.realty-info__member-wrap{
    max-width: 310px;
    min-width: 310px;
    width: 310px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #F6F8F9;
    box-sizing: border-box;
    border-radius: 8px;
    .team-member__info{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 480px){
            align-items: flex-start;
        }
    }
    @media (max-width: 860px){
        margin-left: 0px;
        min-width: initial;
        margin-top: 30px;
    }

    @media (max-width: 480px){
        position: relative;
        padding: 16px 16px 45px;
        width: 100%;
        max-width: initial;
        margin-top: 16px;
        .btn-green-border{
            position: absolute;
            left: 16px;
            
            bottom: 0;
           width: calc(100% - 32px);
        }
    }

    .middle-text{
        color: #515154;;
        font-size: 1rem;
        margin-top: 8px;
    }
}

.realty-info__price{
    padding: 8px 24px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 1.3125rem;
    line-height: 120%;
    display: inline-block;

    color: #F6F8F9;
    background: #159BBA;
    border-radius: 4px;
    @media (max-width: 1024px){
        font-size: 1.125rem;
    }
}


.realty-info__char-list--block{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 0 36px;

    padding-bottom: 24px;
    border-bottom: 1px solid #F6F8F9;
    margin-bottom: 12px;

    @media (max-width: 640px){
        grid-template-columns: repeat(1, 1fr);
    }
}

.realty-info__char-list{
    margin-top: 12px;
    li{
        margin-top: 12px;
    
        font-style: normal;
        font-weight: normal;
        font-size: .875rem;
        line-height: 120%;
        color: #515154;


        span{
            font-size: 1rem;
            font-weight: 500;
        }
        @media (max-width: 1024px){
            font-size: .8125rem;
            margin-top: 8px;
            span{
                font-size: .875rem;
            }
            
        }

    }
}