.quiz-test{
    .section__inner{
        display: flex;
        justify-content: center;
    }
}


.quiz-w{
    width: 640px;
    height: 400px;
    background: #F6F8F9;
    border-radius: 8px;
    padding: 36px 24px;

    position: relative;
    display: none;
    @media (max-width: 680px){
        padding: 16px;

        width: 100%;
        max-width: 320px;
        height: 480px;
    }
}


.quiz-close{
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 10;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    div{
        width: 100%;
        height: 2px;
        background-color: #6D6D71;
        position: absolute;
        transition: 300ms;

        &:first-of-type{
            transform: rotate(-45deg);
        }

        &:last-of-type{
            transform: rotate(45deg);
        }
    }

    &:hover{
        div{
            background: #159BBA;;
        }
        
    }
}

.quiz-w__inner{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    
}

.quiz-sildes-line{
    display: flex;
    min-height: 100%;
    width: 100%;
    transition: 750ms;
}

.quiz-w__screen{
    width: 100%;
    min-width: 100%;   
    min-height: 100%;

    display: grid;
    grid-gap: 25px 0;
    grid-template-columns: 1fr 286px;
    grid-auto-rows: auto 1fr;


    position: relative;

    @media (max-width: 680px){
        grid-template-columns: 1fr;
        grid-auto-rows: auto auto 1fr;
        grid-gap: 25px 0;
    }
}

.quiz-w__f-screen{
    
}
.quiz-w__flat{
    
    display: none;
}

.quiz-w__house{
    
    display: none;
}

.quiz-w__comm{
    display: none;
}

.prev-quiz-slide{
    color: #6D6D71;
}
.quiz-title{    
    grid-column: 1 / 3;


    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 125%;

    /* identical to box height, or 45px */

    /* Black100 */
    color: #29292C;

    @media (max-width: 680px){
        font-size: 1.5rem;
        grid-column: span 1;
        order: 2;
    }
}

.quiz-img-block{
    min-width: 286px;
    
    img{
        width: 286px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 680px){
            width: 128px;
            position: static;
            transform: translateY(0%);
        }
    }

    @media (max-width: 680px){
        min-width: 128px;
        order: 1;
    }

}
.quiz-inp-block{
    flex-grow: 1;

    @media (max-width: 680px){
        order: 3;
    }
}
.quiz-bottom-block{
    display: flex;
}

.quiz-w__screen.active{
    display: grid;
}

.quiz-nav-block{
    margin-top: 24px;


    button{
        &:first-of-type{
            margin-right: 24px;
        }
    }
}

.s-quiz__name-outer-wrap{
    max-width: 160px;
}

.s-quiz__phone-outer-wrap{
    max-width: 203px;
}

.quiz-w__screen.quiz-w__th-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    .quiz-title{
        text-align: center;
    }
}

.s-quiz__h-l-outer-wrap{
    width: 240px;
}

.quiz-progress{
    width: 100%;
    height: 6px;
    background-color: #E9E9E9;
    bottom: 0;
    position: absolute;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
}

.quiz-progress__step{
    width: 16.66%;
    background-color: #159BBA;
    height: 6px;
    border-radius: 0 25px 25px 0;
    transition: 500ms;
}

.quiz-progress__finished{
    transition: 500ms;
    background-color: #6D6D71;
    height: 6px;
}